<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Website_banhang</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Website_banhang.styles.css" asp-append-version="true" />
</head>
<body style="margin-bottom: 0;">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light py-4 px-5 shadow-sm mb-5 fixed-top " style="background-color: #fff;">
        <div class="container-fluid d-flex justify-content-between row">



                
                <a class="navbar-brand col-2" href="/">Navbar</a>



                <div class="col-2" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    @if (Context.Session.GetString("UserId") == null)
                    {
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="@Url.Action("Index", "User")">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Register", "User")">Đăng ký</a>
                        </li>

                    } else
                    {
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.Action("Cart", "Cart")">Giỏ Hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout", "User")">Đăng Xuất</a>
                        </li>
                    }
                    </ul>
                </div>
    </div>
</nav>
        <ul class="px-5" id="searchList" style=" margin-left: 40%; background-color: white; z-index: 999; position: fixed; list-style-type: none"></ul>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
