
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if(Model != null)
{
    <div class="col-md-3">
    <aside>
            <div class="accordion" id="accordionExample">
                @foreach(var item in Model)
                {
    int i = 0;  
                <div class="accordion-item">
                        <h2 class="accordion-header" id="heading"@i"">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse"@i""
                            aria-expanded="true" aria-controls="collapseOne">
                                @item.CategoryName
                    </button>
                </h2>
                        <div id="collapse" @i"" class="accordion-collapse collapse show" aria-labelledby="heading"@i""
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <a href="" style="text-decoration: none; color: black;">Sữa tươi</a>
                    </div>
                </div>
            </div>                 
                }
        </div>
    </aside>
</div>
    
}
