@model Website_banhang.Models.Product
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    
<section class="py-5" style="margin-top: 8rem">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="">
                            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="@Model.ProductImage" />
                    </a>
                </div>
                
                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">

                        
                        <h4 class="title text-dark">
                            @Model.ProductName;
                    </h4>                         
                       
                    <div class="d-flex flex-row my-3">
                            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>Đang cập nhât...</span>
                        <span class="text-success ms-2">In stock</span>
                    </div>

                    <div class="mb-3">
                        <span class="h5">@Model.ProductPrice VND</span>
                        <span class="text-muted">/ sản phẩm</span>
                    </div>

                    <p>
                        @Model.ProductDescription
                    </p>

                    <div class="row">
                        <dt class="col-3">Thương Hiệu:</dt>
                        <dd class="col-9">Đang cập nhât...</dd>

                        <dt class="col-3">xuất xứ</dt>
                            <dd class="col-9">Đang cập nhât...</dd>

                        <dt class="col-3">dung tích/ khối lượng</dt>
                            <dd class="col-9">Đang cập nhât...</dd>
                    </div>

                    <hr />
                        <button style="border-style:solid; border-color: #E4002A" class="addToCartButton btn" data-productid="@Model.ProductId">Thêm vào giỏ hàng</button>
                </div>
            </main>
        </div>
    </div>
</section>
<!-- content -->



}
